div {
  border: solid blue;
  padding: 25px;
  box-shadow: 10px 10px;
  background-color: green;
}

h1, h2 {
 font-family: Arial;
}

img {
  border-radius: 50px;
}

li {
  margin: 10px;
  font-style: italic;
}

body, html {
  height: 100%;
  margin: 0;
}

.bg {
 
  background-image: url("img_girl.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

